gunicorn==19.3.0
newrelic
flask==0.10.1
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
psycopg2==2.6.1
python-binary-memcached==0.24.6
bcrypt==2.0.0
itsdangerous==0.24
email_validator==1.0.0
python-decouple==3.0
unipath==1.1
coverage==4.0.2
