gunicorn==19.3.0
flask==0.10.1
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
psycopg2==2.6.1
marshmallow==2.7.3
bcrypt==2.0.0
itsdangerous==0.24
email_validator==1.0.0
python-decouple==3.0
unipath==1.1
coverage==4.0.2
pytest==2.9.2
fake-factory==0.6.0
codacy-coverage
